<section class="omg">
    <h1>velcro</h1>
    <p>A complete solution for building clean, simple and elegant Javascript applications.</p>
    <p>
        <a class="btn btn-large btn-primary" href="https://github.com/devco/velcro.js">
            <i class="icon-download-alt icon-white"></i>
            <span class="label">0.2.0</span>
            <small>7k min+gz</small>
        </a>
        <a class="btn btn-large" href="#documentation/overview">
            <i class="icon-file"></i>
            Documentation
        </a>
    </p>
</section>

<section class="omgomg" data-vc-extend="path: 'layouts/content'">
    <div class="row">
        <div class="span4">
            <h3>Shaping by Experience</h3>
            <p>Velcro is built around solving real-world problems. We use it here at UltraServe and it has been shaped by many diffucult problems we've had to solve.</p>
        </div>
        <div class="span4">
            <h3>Crafting with Passion</h3>
            <p>Velcro is maintained by passionate developers with a common goal who love nothing more than to write clean, effective and maintainable code.</p>
        </div>
        <div class="span4">
            <h3>Imagining a Better Wheel</h3>
            <p>We tried all the solutions out there and not one seemed to fit our needs. We analysed each shortcoming and crafted our perfect vision of how we think it should be done.</p>
        </div>
    </div>
</section>