<section class="omg">
    <h1>velcro</h1>
    <p>A complete solution for building clean, simple and elegant Javascript applications.</p>
    <p>
        <a class="btn btn-large btn-primary" href="https://github.com/devco/velcro.js">
            <i class="icon-download-alt icon-white"></i>
            Download
            <span class="label">0.1.0</span>
        </a>
        <a class="btn btn-large" href="#documentation">
            <i class="icon-file"></i>
            Documentation
        </a>
    </p>
</section>

<section class="fo-realz">

</section>

<div data-vc-extend="path: 'layouts/content'">
    <div class="row">
        <div class="span4">
        </div>
        <div class="span4">
        </div>
        <div class="span4">
        </div>
    </div>
</div>