<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr data-vc-each="items: options">
            <td data-vc-contents="text: name"></td>
            <td data-vc-if="test: typeof value === 'string' && value.match('\n')"><pre><code data-vc-contents="text: value"></code></pre></td>
            <td data-vc-if="test: typeof value !== 'string' || !value.match('\n')"><code data-vc-contents="text: value"></code></td>
            <td data-vc-contents="html: description"></td>
        </tr>
    </tbody>
</table>